body{
    background: rgb(5,4,6);
    background: linear-gradient(90deg, rgba(5,4,6,1) 0%, rgba(71,66,68,1) 42%, rgba(186,214,219,1) 100%);
    
}

span{
    display: flex;
    background-color: rgb(102, 102, 102);
    flex-direction: row;
    margin: 1px;
    padding: 3px;
    border-radius: 3vh;
    
}

div{
    display: flex;
    justify-content: center;
    background-color:black;
    border-radius: 3vh;
    
    flex-direction: row;
    
}
.clock-container{
    
    color: aliceblue;
    font-size: 50px;
    text-align: center;
    margin: 150px;
    padding: 100px;
}